version: "2.1"

services:
  loragtwpktfwd:
    restart: always
    build:
      context: loragtwpktfwd
      args:
        - LORA_REGION
        - LORA_UDP
        - SPI_SPEED
        - PIN_RESET
        - MINER_URL
        - MODEL
    privileged: true

  helium-miner:
    restart: always
    image: quay.io/team-helium/miner:miner-arm64_2020.09.21.1_GA
    ports:
      - "44158:44158/tcp"
      - "1680:1680/udp"
    volumes:
      - 'miner-data:/var/data'
      - 'miner-log:/var/log/miner'
    environment:
      - REGION_OVERRIDE=${LORA_REGION}
  
  web:
    build: ./web
    privileged: true
    restart: always
    ports: 
      - "80:80"
    volumes:
      - 'miner-data:/var/data'
      - 'miner-log:/var/log/miner'

volumes:
  miner-data:
  miner-log:
